*{
    margin: 0;
    padding: 0;
}

header{
    color: #926239;
     background-image: url(https://traversymedia.com/downloads/assets/beachshowcase.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     align-content: center;
    justify-content: center;
    gap: 10px;
}

.botao{
    border: #926239 solid 1px;
    padding: 10px;
    border-radius: 10px;
    color: #926239;
}

.botao:hover{
    background-color: #926239;
    color: white;
    transition: 0.5s;
}

.marrom{
    color: white;
    background-color: #926239;
    padding: 10px;
}

.branco{
    color: #926239;
    background-color: white;
    padding: 10px;
}

.coluna{
    display: flex;
    flex-direction: row;
}
